game/saves/
game/cache/
*.rpyb
bytecode-*.rpyb
py3analysis.rpyb

*.rpyc
*.rpymc
*.pyc
__pycache__/

log.txt
errors.txt
traceback.txt
image_cache.txt
save_dump.txt
files.txt

dialogue.tab
dialogue.txt
strings.json

*.psd
*.clip
*.kra
*.blend
*.wav

*-dists/
*.zip
*.tar.bz2
*.dmg

.idea/
.vscode/
Thumbs.db
.DS_Store
/tl_tool.py
/tl_fill_13.txt
/translation_batch_01.xlsx
